<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cliente de envío de imágenes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertPrompt()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card mode="ios">
    <ion-img [src]="imageData" alt="Recurso cargado"> </ion-img>
    <ion-card-header>
      <ion-card-subtitle>Proyecto Sistemas Operativos</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="readFile()" expand="block">Cargar imagen</ion-button>
      <ion-button (click)="sendFile()" [disabled]="disableButtonSend" color="warning" expand="block">Enviar imagen</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>